# Git
.git
.gitignore
.gitattributes

# GitHub
.github

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs e Cache
logs/
*.log
.cache/
.pytest_cache/

# Docker
.docker/
docker-compose.override.yml

# Outros
.DS_Store
*.bak
*.tmp
*.temp 